.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-hero {
  width: 100%;
  display: flex;
  opacity: 1;
  padding: var(--dl-space-space-threeunits);
  z-index: 99;
  position: relative;
  max-width: 100%;
  box-shadow: 5px 10px 10px 0px #000000;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #D9D9D9; */
  background-image: none; /* Remove the background image here */

  /* Create a pseudo-element for the blurred background */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/playground_assets/bees4.png");
    background-size: cover;
    background-position: bottom;
    filter: blur(1px); /* Adjust the blur radius as needed */
    z-index: -1; /* Place it behind the content */
  }
}

.home-container03 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #000000;
  /* width: 457px; */
  font-size: 2.8rem;
  max-width: 100%;
  /* font-weight: lighter; */
  /* font-family: Helvetica; */
  /* margin-left: 70px; */
}
.home-text01 {
  background-color: #f3ec78;
  background-image: linear-gradient(35deg, #131112, #3a031c);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.2rem;
  /* max-width: 60%; */
  /* font-style: normal; */
  justify-content: center;
  font-family: cursive;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-button {
  color: white;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #5140eb;
  /* color: white; */
}
.home-button:hover {
  transform: scale(1.02);
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container04 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text06 {
  font-size: 3rem;
}
.home-text10 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-btn-group1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-navlink4, .home-navlink5  {
  /* CSS */
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .home-navlink4:hover {
    background-color: #374151;
    transform: scale(1.02);
  }
  
  .home-navlink4, .home-navlink5 :focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .home-navlink4 {
      padding: .75rem 1.5rem;
    }
  }
.home-navlink5 {
  background-color: #e2e6ec;
  color: #000000;
  /* transition: 0.3s; */
  margin-left: var(--dl-space-space-unit);
  /* padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit); */
  /* text-decoration: none; */
}
.home-navlink5:hover {
  background-color: #cbd0d8;
  transform: scale(1.02);
}
.home-text11 {
  text-align: justify;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-image1 {
  width: 25rem;
  object-fit: cover;
}
.home-gallery {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container05 {
  flex: 3;
  /* height: 100%; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container06 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container07 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container08 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.home-container10 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
}
.home-text12 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text15 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
  text-align: center;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}

@media(max-width: 991px) {
  .home-hero1 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container04 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text06 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text11 {
    /* text-align: center; */
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-image1 {
    order: 2;
    width: 290px;
    height: 441px;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-image1 {
    width: 255px;
    height: 371px;
  }
  .home-text12 {
    font-size: 1.8rem;
  }
  .home-text15 {
    font-size: 1.3rem;
    text-align: justify;
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-container11 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container05 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .home-hero {
    z-index: 98;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text horizontally */
  }
  
  .home-text {
    color: #000000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    white-space: normal; /* Allow text to wrap */
    max-width: 80%; /* Adjust this value to control the maximum width of the text */
  }
  .home-button {
    width: 120px;
    height: 52px;
    font-size: 0.8rem;
    margin-left: 15px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero1 {
    width: 100%;
    height: 723px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    font-size: 1.3rem;
  }
  .home-text10 {
    font-size: 0.9rem;
  }
  .home-btn-group1 {
    flex-direction: column;
  }
  .home-navlink4 {
    font-size: 0.99rem;
  }
  .home-navlink5 {
    font-size: 0.99rem;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-text11 {
    color: var(--dl-color-gray-black);
    font-size: 0.7rem;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 134px;
    height: 197px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text12 {
    font-size: 1.3rem;
  }
  .home-text15 {
    font-size: 0.9rem;
    text-align: justify;
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
