.blog-post-card4-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card4-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card4-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card4-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card4-text {
  font-size: 3rem;
  font-style: normal;
  font-family: Georgia;
  font-weight: 800;
}
.blog-post-card4-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card4-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card4-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
.blog-post-card4-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.blog-post-card4-text3 {
  font-size: 2rem;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-weight: 300;
}

.blog-post-card4-link {
  display: contents;
}
.blog-post-card4-icon {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.blog-post-card4-icon:hover {
  width: 35px;
  height: 35px;
}
.blog-post-card4-root-class-name {
  margin-bottom: 64px;
}

.blog-post-card4-root-class-name2 {
  margin-bottom: 48px;
}


@media(max-width: 767px) {
  .blog-post-card4-text {
    font-size: 2.5rem;
  }
}
@media(max-width: 479px) {
  .blog-post-card4-text {
    width: 103px;
    height: 29px;
    font-size: 1.5px;
    font-style: normal;
    font-weight: 900;
  }
  .blog-post-card4-text1 {
    font-size: 1rem;
  }
  .blog-post-card4-text3 {
    font-size: 1.5rem;
  }
}
