.stats-stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stats-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text {
  color: #5140eb;
  font-size: 3rem;
}
.stats-text03 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text04 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text05 {
  color: #5140eb;
  font-size: 3rem;
}
.stats-text07 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text08 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text09 {
  color: #5140eb;
  font-size: 3rem;
}
.stats-text12 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text13 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text14 {
  color: #5140eb;
  font-size: 3rem;
}
.stats-text16 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text17 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
@media(max-width: 1600px) {
  .stats-stats {
    max-width: 100%;
  }
}
@media(max-width: 991px) {
  .stats-text {
    text-align: center;
  }
  .stats-text05 {
    text-align: center;
  }
  .stats-text09 {
    text-align: center;
  }
  .stats-text14 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .stats-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .stats-text03 {
    text-align: center;
  }
  .stats-text07 {
    text-align: center;
  }
  .stats-text12 {
    text-align: center;
  }
  .stats-text16 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .stats-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
